@use "theme";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');n

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  width: 100%;
  height: 30vh;
  display: flex;
  overflow: hidden;
}

.btn-container {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg);

  & {
    --btn-bg: #FF2C75;
  }
}

.resume {
  --width: 210px;
  --height: 70px;
  border: 0;
  position: relative;
  min-width: var(--width);
  min-height: var(--height);
  border-radius: var(--height);
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  background: #ff2c7661;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;

  .text,
  .icon-container {
    position: relative;
    z-index: 1;
  }

  .icon-container {
    --icon-size: 25px;
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: 15px;
    transition: transform 500ms ease;

    .icon {
      position: absolute;
      left: 0;
      top: 0;
      width: var(--icon-size);
      height: var(--icon-size);
      transition: transform 500ms ease, opacity 250ms ease;
      &--left {
        transform: translateX(-200%);
        opacity: 0;
      }
      svg {
        width: 100%;
        height: 100%;
        fill: #fff;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--btn-bg);
    border-radius: var(--height);
    z-index: 0;
    transition: transform 500ms ease;
  }

  &:hover {
    &::after {
      transform: translateX(65%);
    }

    .icon-container {
      transform: translateX(125%);
      .icon {
        &--left {
          transform: translateX(0);
          opacity: 1;
        }
        &--right {
          transform: translateX(200%);
          opacity: 0;
        }
      }
    }
  }
}
